<section id="expoloc">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-ms-12 col-xs-12">
      <div class="section-heading scrollpoint sp-effect3">
        <h1 class="text-center">EXPO</h1>
        <divs class="divider"></divs>
        <!--<p class="text-center">Презентери форуму</p>-->
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12" style="text-align: center;">
        <!--<iframe id="pdf_frame" src="http://files.lviv-fitness.com/LFW_2019_expo.pdf" scrolling="auto"></iframe>-->
        <!--<script>-->
          <!--var iOS = ['iPad', 'iPhone', 'iPod'].indexOf(navigator.platform) >= 0;-->
          <!--if (iOS) {-->
              <!--document.getElementById("pdf_frame").contentWindow.onload = function () {-->
                  <!--this.document.getElementsByTagName("img")[0].style.width = "280px";-->
              <!--};-->
          <!--}-->
        <!--</script>-->


        <div class="outer-pdf" style="-webkit-overflow-scrolling: touch; overflow: auto;">
          <div class="pdf">
            <iframe class="desktop-pdf" scrolling="auto" src="http://files.lviv-fitness.com/LFW_2019_expo.pdf" type='application/pdf' title="EXPO">
            </iframe>
            <iframe class="mobile-pdf" scrolling="auto" src="https://drive.google.com/viewerng/viewer?embedded=true&url=http://files.lviv-fitness.com/LFW_2019_expo.pdf" type='application/pdf' title="EXPO">
            </iframe>
          </div>
        </div>
        <br>
        <a href="http://files.lviv-fitness.com/LFW_2019_expo.pdf" download>Завантажити LFW 2019 EXPO</a>
      </div>
    </div>
  </div>
</section>