<footer class="footer">
  <div class="container">
    <a href="#top" class="scrollpoint sp-effect3">
      <img src="../../../assets/images/logos/logo-white-lg.png" alt="Lviv Fitness Weekend" class="logo">
    </a>

    <div class="social">
      <a href="https://www.youtube.com/channel/UCC_pPGQBC69uzt1tOrYhQkw" target="_blank" class="scrollpoint sp-effect3"><i class="fa  fa-youtube-square fa-3x"></i></a>
      <a href="https://www.facebook.com/LvivFitnessWeekend/" target="_blank" class="scrollpoint sp-effect3"><i class="fa fa-facebook fa-3x"></i></a>
      <a href="https://www.instagram.com/lvivfitnessweekend/" target="_blank" class="scrollpoint sp-effect3"><i class="fa fa-instagram fa-3x"></i></a>
    </div>

    <div class="rights">
      <p>Copyright &copy; 2016</p>
    </div>
  </div>
</footer>