<section id="demo">
  <div class="container">
    <div class="section-heading scrollpoint sp-effect3">
      <h1>Відео звіт 2016-2018 року</h1>
      <div class="divider"></div>
      <!--<p>Take a closer look in more detail</p>-->
    </div>
    <div class="row">
      <!--col-md-offset-2-->
      <div class="col-md-12 scrollpoint sp-effect2">
        <!-- 2018 -->
        <div class="video-container col-md-3">
          <iframe src="https://www.youtube.com/embed/6kLK3qm0XVI" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="video-container col-md-3">
          <iframe src="https://www.youtube.com/embed/jr9BnyrlKjI" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="video-container col-md-3">
          <iframe src="https://www.youtube.com/embed/zQesyuBibYk" frameborder="0" allowfullscreen></iframe>
        </div>

        <!-- 2016-2017 -->
        <div class="video-container col-md-3">
          <iframe src="https://www.youtube.com/embed/oGYgFVUrmgk" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="video-container col-md-3">
          <iframe src="https://www.youtube.com/embed/X1U4ZG3ySiU" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="video-container col-md-3">
          <iframe src="https://www.youtube.com/embed/5JX2T1Vn7hc" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="video-container col-md-3">
          <iframe src="https://www.youtube.com/embed/3MK2luOpHQ0" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="video-container col-md-3">
          <iframe src="https://www.youtube.com/embed/LFzz0s2HOBg" frameborder="0" allowfullscreen></iframe>
        </div>

        <!--div class="video-container">
          <iframe src="https://www.youtube.com/embed/pNNffcUDekA" frameborder="0" allowfullscreen></iframe>
        </div-- >
        <div class="video-container">
          <iframe src="https://www.youtube.com/embed/t8-ZMTuDD-w" frameborder="0" allowfullscreen></iframe>
        </div>
        </div>
      </div>
    </div>

    <div class="section-heading scrollpoint sp-effect3">
      <h1>Відео звіт 2015 року</h1>
      <div class="divider"></div>
      <!--<p>Take a closer look in more detail</p>-->
    </div>
  </div>
</section>