<section class="hiitworks-schedule">
  <div class="container">
    <div class="section-heading scrollpoint sp-effect3">
      <div class="hiit-logo-1"><img src="../../../assets/images/btns/hiitworks_ava.png"></div>
      <h1>Програма hiitworks</h1>
      <div class="hiit-logo-2"><img src="../../../assets/images/btns/hiitworks_ava.png"></div>
      <div class="divider"></div>
    </div>
  </div>

  <div class="schedule-table">
    <div class="container-fluid">
      <br>
      <div class="text-center">
        <div class="schedule-row masterclass-schedule-row schedule-info">МАЙСТЕР-КЛАС</div>
        <div class="schedule-row workshop-schedule-row schedule-info">ВОРКШОП</div>
        <div class="schedule-row seminar-schedule-row schedule-info">СЕМІНАР</div>
      </div>

      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 scene" ng-repeat="scene in hiitworksschedule">
          <h4 class="text-center fitness-font-xl">{{ ::scene.title }}</h4>
          <div modal-info info="item" ng-repeat="item in scene.lectures">
            <div class="schedule-row {{ item.description ? 'hover-affect' : '' }} ng-class:item.type">
              <span class="time">{{ ::item.time }}</span>
                <span class="class" ng-click="select(item.id);">
                  {{ ::item.instructor }}&nbsp;<i class="fa fa-arrow-down"  ng-if="item.description"></i>
                </span>
              <span class="people text-right"><span ng-repeat="name in item.name">{{ ::name}} <br></span></span>
            </div>
          </div>
        </div>
      </div>

      <table class="table price-table" align="center">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Формат</th>
          <th scope="col">Тривалість</th>
          <th scope="col">Вартість</th>
        </tr>
        </thead>
        <tbody>
        <tr class="masterclass-row">
          <td scope="row">Майстер-клас</td>
          <td>50 хв</td>
          <td>350 грн</td>
        </tr>
        <tr class="seminar-row">
          <td scope="row">Семінар</td>
          <td>2 год</td>
          <td>700 грн</td>
        </tr>
        <tr class="workshop-row">
          <td scope="row">Воркшоп</td>
          <td>2 год</td>
          <td>700 грн</td>
        </tr>
        <tr class="day-row">
          <td scope="row">Пакет день</td>
          <td colspan="2">
            1799 грн (1 жовтня - 19 жовтня), 1499 грн (1 вересня - 30 вересня)
          </td>
        </tr>
        </tbody>
      </table>

      <div class="text-center">
        <button type="button" class="btn btn-primary btn-lg">
          <span><a href="https://docs.google.com/forms/d/e/1FAIpQLSf1ZwtvDnDb9yDTSLGwmrp7pEfgcDeXu8t5k19rpijx6J7-yg/viewform" target="_blank">Реєстрація</a></span>
        </button>
      </div>

      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="margin: 0 auto; float: inherit;">
          <h3 class="card-title text-center">
            Інформація і питання:<br>
            <a href="tel:+380995070888">+380 99 507 08 88 (Юлія)</a>
          </h3>
        </div>
      </div>

      <br>
    </div>
  </div>
</section>