<section id="partners" class="shadow partners partners-bg-img">
  <div class="shadow partners" id="exhibition">

  </div>

  <div class="container">
    <div class="section-heading inverse scrollpoint sp-effect3">
      <h1>Партнери</h1>
      <div class="divider"></div>
    </div>
  </div>
  <div class="container">
    <div class="partners-logos scrollpoint sp-effect3">

      <!--h2 class="partner-title">Партнери</h2-->

      <a href="https://interatletika.com/" target="_blank">
        <img class="logo-long" src="../../../assets/images/partners/2017/interatletika.jpg" alt="Interatletika">
      </a>

      <a href="http://strongman.org.ua/language/uk/" target="_blank">
        <img class="logo" src="../../../assets/images/partners/fsu.png" alt="ФСУ">
      </a>

      <a href="https://www.facebook.com/discipline.ua/" target="_blank">
        <img class="logo-short" src="../../../assets/images/partners/discipline.png" alt="Discipline">
      </a>

      <a href="http://bodywayonline.com.ua/" target="_blank">
        <img class="logo-long" src="../../../assets/images/partners/2019/bodyway.jpg" alt="Bodyway">
      </a>

      <a href="https://hiitworks.com/" target="_blank">
        <img class="logo-long" src="../../../assets/images/partners/2019/hiitworks.png" alt="Hiitworks">
      </a>

      <a href="https://www.facebook.com/ZumbaUkraine/" target="_blank">
        <img class="logo" src="../../../assets/images/partners/2019/zumba.jpg" alt="Zumba">
      </a>

      <a href="https://city-adm.lviv.ua/" target="_blank">
        <img class="logo-long" src="../../../assets/images/partners/2019/lmr.jpg" alt="Львівська Міська Рада">
      </a>

      <a href="https://www.galychyna.com.ua/" target="_blank">
        <img class="logo" src="../../../assets/images/partners/galychyna.png" alt="Галичина">
      </a>

      <a href="http://www.powerpro.in.ua/" target="_blank">
        <img class="logo-long" src="../../../assets/images/partners/power.png"
             alt="http://www.powerpro.in.ua/">
      </a>

      <a href="http://www.morshinska.ua/" target="_blank">
        <img class="logo-long" src="../../../assets/images/partners/morshinska.png" alt="Моршинська">
      </a>

      <a href="http://bykvu.com" target="_blank">
        <img class="logo-long" src="../../../assets/images/partners/2019/bukvy.png" alt="# Букви">
      </a>

      <a href="https://avalon-inc.com.ua/ru/" target="_blank">
        <img class="logo-long" src="../../../assets/images/partners/2019/avalon.png" alt="Avalon">
      </a>
    </div>
  </div>
  <!--<button type="button" class="btn btn-primary btn-lg action-btn">EXPO</button>-->
  <!--<button type="button" class="btn btn-primary btn-lg action-btn">PARTNERS</button>-->
</section>