<section id="forum-coaches2018">
  <p>&nbsp;</p>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-ms-12 col-xs-12">
        <div class="section-heading scrollpoint sp-effect3">
          <h1 class="text-center">КОУЧ- ПРОГРАМА</h1>
          <h2>“ТРЕНЕР - БРЕНД. СПОРТИВНИЙ - ПІДПРИЄМЕЦЬ” - КОУЧИНГОВА ПРОГРАМА</h2>
          <div class="divider"></div>
          <p>23.09.2018 (неділя) з 14:00 до 18:00 «Мала зала» №2</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <p>Професійна гра “ТРЕНЕР - БРЕНД. СПОРТИВНИЙ - ПІДПРИЄМЕЦЬ” має надати можливість виходу на новий організаційний рівень фахівцям сфери спорту та фітнесу, які прагнуть створити та розвинути власний бізнес або стати професійними спортивними менеджерами.</p>
      <ul>
        <li>Кожен учасник може виграти у цій професійній грі та стати бізнес - лідером у своїй галузі використовуючи ресурси програми;
          <li>Кожен учасник може програти нічого не змінившиу у своїй професійній діяльності та марно витративши все крім часу та зусиль.</li>
      </ul>
      <p>Професійна гра “Тренер - бренд, спортивный - підприємець” (Коучингова програма) передбачає серію семінарів, вебінарів приватних коуч-сесій для тих, хто хоче розвивати власний бізнес у сфері фітнесу, краси та здоров'я. Протягом програми з гравцями будуть взаємодіяти успішні менеджери, власники бізнесу та сертифіковані коучі ICU, щоб допомогти досягти поставлених цілей так як тренер допомагає досягати своїх цілей своїм спортсменам.</p>
      <p>Перший семінар з коуч-програми «Стратегії власного бізнесу тренера» Вадим Гуменю віце-президент української фітнес асоціації УФА,  координатор українського об’єднаного тренерського реєстру УТРО, генеральний директор Міжнародної тенісної академії, співвласник компанії “ФітКультура”, коуч - консультант ICU. Мета семінару познайомити з існуючими моделями та досвідом успішних тренерів - брендів та визначитися кожному куди і як рухатися далі, щоб розпочати власну професійну гру.</p>
      <p>Коучинг та коучинг-тренінг - це метод створення середовища (завдяки спілкуванню та поведінці), що допомагає людині у просуванні до її особистої та професійної мети так, щоб це задовольняло її. Коучинг метод допомагає усвідомити свої цілі, здобути нові навички та внутрішні ресурси для досягнення власної мети.</p>
      <p>За даними досліджень DMB and Human Capital Institute після впровадження коучинг-методів 33% компаній відмітили зростання продажів та якості виробництва, а 74% приватних клієнтів проявили здібності для підвищення та успіхів у кар'єрі.</p>

      <p>Формат участі СТАНДАРТ включає відвідування семінару та одну індивідуальну коуч - сесію:<br>
      Вартість участі у Бізнес - тренінгу до 20.08.2018: один день - 499грн<br>
      Вартість участі у Бізнес - тренінгу до 20.09.2018: один день - 799грн<br>
      Вартість участі у Бізнес - тренінгу при оплаті на місці: один день - 999грн
      </p>

      <p>Формат участі СМАРТ включає повну участь і професійній грі, а саме: відвідування семінару, 5 індивідуальних коуч сессій та 3 бізнес-вебінари протягом 4 місяців:<br>
      Вартість участі у Бізнес - тренінгу до 20.08.2018: один день - 1999грн<br>
      Вартість участі у Бізнес - тренінгу до 20.09.2018: один день - 2399грн<br>
      Вартість участі у Бізнес - тренінгу при оплаті на місці: один день - 2559грн
      </p>

      <br><br>
      <p class="text-center"><button class="pricing__action" ng-click="openWidget(50035,1160849)">Придбати квиток (СТАНДАРТ)</button></p>
      <p class="text-center"><button class="pricing__action" ng-click="openWidget(50037,1160849)">Придбати квиток (СМАРТ)</button></p>
      <br>
    </div>
  </div>
  <hr>
</section>
