.partnership {
  width: 100%;
  background: #f6f6f6;
  min-height: 250px;

  .section-title {
    //font-size: 25px;
    //line-height: 25px;
    color: #999999;
    font-weight: 700;
  }
  .partnership-align {
    padding-left: 10px;
    padding-right: 10px;
    min-height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @media (max-width: 480px) {
      min-height: 160px;
      padding: 10px;
    }
  }

  .partnership-align[direction="column"] {
    flex-direction: column;
    justify-content: center;
  }
  .partnership-align[direction="row"] {
    flex-direction: row;
  }

  .invitation {
    font-size: 16px;
  }
  .partner {

  }
  .partner-expo {
    padding-top: 40px !important;
    color: #999999;
  }

  .expo {
    font-size: 35px;
  }

  .join {
    font-size: 20px;
  }

  .link-download {
    font-size: 20px;
    color: #999999;
    font-family: 'Lato', Arial, serif;
  }

  .partner-btn {
    height: 150px;
    width: 150px;
    text-align: center;
    padding-top: 45px;
    border-radius: 50%;
    font-size: 20px;
    border: 2px solid #66cc99;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12);
    animation: all .3s ease;
    &:focus {
      border: 2px solid #66cc99;
    }
    &:hover {
      box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
      animation: all .5s ease;
    }
  }
}