<section id="partnership" class="partnership">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">


        <div class="partnership-align" direction="column">
          <h2 class="section-title fitness-font-xl text-left">Стати партнером Lviv Fitness Weekend легко!</h2>
          <!--<p class="text-left">-->
          <!--</p>-->
        </div>


      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">


        <div class="partnership-align" direction="row">
          <!--a href class="link-download">
            <div class="btn partner-btn" ng-click="partnership.showVideo()" style="padding-top: 40px; ">Стати <br> партнером</div>
          </a-->

          <a class="link-download" href="https://www.dropbox.com/s/etucw5756xi5p8c/2017_LFW_PARTNER.pdf?dl=0" target="_blank">
            <div class="btn partner-btn partner-expo" style="padding: 5px 5px;">Партнерська<br>Співпраця</div>
          </a>

          <!--a class="link-download" href="https://www.dropbox.com/s/9q85uiu7f7g10us/Offer_LFW%D0%95%D0%9A%D0%A1%D0%9F%D0%9E.pdf?dl=0" target="_blank">
            <div class="btn partner-btn partner-expo"><span class="expo">Expo</span><br><span class="join">Участь</span>
            </div>
          </a-->
        </div>


      </div>
    </div>
  </div>
</section>