<section id="forum-tickets">
  <div class="container-fluid">
    <div class="section-heading scrollpoint sp-effect3">
      <h1>Квитки на «Форум Управлінців» у Львові</h1>
      <div class="divider"></div>
      <p>22-23.09.2018 (субота – неділя) з 9:00 до 19:00 «Велика Зала» №1</p>
      <div class="divider"></div>
      <span class="forum-tickets-descr">Вартість участі у Форумі до 20.08.2018: два дні - 699 грн, один день - 399грн<br>
        Вартість участі у Форумі до 20.09.2018: два дні - 999 грн, один день - 699грн<br>
        Вартість участі у Форумі при оплаті на місці: два дні - 1299 грн, один день - 899грн<br>
        Для членів УФА знижка 10%<br><br>
        Модератор першого дня - Вадим Гуменюк - віце-президент української фітнес асоціації УФА,  координатор українського об’єднаного тренерського реєстру УТРО, генеральний директор Міжнародної тенісної академії, коуч - консультант міжнародного союзу коучів ICU.<br><br>
        Модератор другого дня - Андрій Недоступ -  президент української фітнес асоціації УФА, співвласник компанії ФітКультура та центру раннього плавання Аква Ніка.<br><br>
        Офіційний блогер заходу. Конев Сергій - в минулому танцор, хореограф, фітнес тренер та презентер конвенції Nike. Сьогодні маркетолог, проект менеджер, креативний директор та блогер.
      </span>
      <!--<p>Купуй до 1 вересня зі знижкою - 10%</p>-->
    </div>
  </div>
  <div class="container">
    <section class="pricing-section bg-6 scrollpoint sp-effect3">
      <div class="pricing pricing--pema">
        <div class="pricing__item">
          <h3 class="pricing__title">22 вересня</h3>
          <!--збільшити шрифт-->
          <p class="pricing__sentence">Субота</p>
          <div class="pricing__price">
            <span class="pricing__currency">₴</span>
            699
            <span class="pricing__period">/ день</span>
          </div>
          <ul class="pricing__feature-list">
            <li class="pricing__feature"></li>
            <li class="pricing__feature"></li>
            <li class="pricing__feature"></li>
          </ul>
          <button class="pricing__action" ng-click="openWidget(FORUM_MANAGERS_TICKET_IDS.MANAGERS_EVENT_FIRST,FORUM_MANAGERS_EVENT_ID)">Придбати квиток</button>
        </div>
        <div class="pricing__item pricing__item--featured">
          <h3 class="pricing__title">22-23 вересня</h3>
          <p class="pricing__sentence">Субота - Неділя</p>
          <div class="pricing__price">
            <span class="pricing__currency">₴</span>999<span class="pricing__period">/ 2 дні</span>
          </div>
          <ul class="pricing__feature-list">
            <li class="pricing__feature"></li>
            <li class="pricing__feature"></li>
            <li class="pricing__feature"></li>
            <li class="pricing__feature"></li>
          </ul>
          <button class="pricing__action" ng-click="openWidget(FORUM_MANAGERS_TICKET_IDS.MANAGERS_EVENT_TWO_DAYS,FORUM_MANAGERS_EVENT_ID)">Придбати квиток</button>
        </div>
        <div class="pricing__item">
          <h3 class="pricing__title">23 вересня</h3>
          <p class="pricing__sentence">Неділя</p>
          <div class="pricing__price">
            <span class="pricing__currency">₴</span>
            699
            <span class="pricing__period">/ день</span>
          </div>
          <ul class="pricing__feature-list">
            <li class="pricing__feature"></li>
            <li class="pricing__feature"></li>
            <li class="pricing__feature"></li>
          </ul>
          <button class="pricing__action" ng-click="openWidget(FORUM_MANAGERS_TICKET_IDS.MANAGERS_EVENT_SECOND,FORUM_MANAGERS_EVENT_ID)">Придбати квиток</button>
        </div>
      </div>
    </section>
  </div>
</section>