<section id="demoPhoto">
  <div class="container">
    <div class="section-heading scrollpoint sp-effect3">
      <h1>Фото звіт 2018 року</h1>
      <div class="divider"></div>
      <!--<p>Take a closer look in more detail</p>-->
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 scrollpoint sp-effect2">
        <div class="photo-container">
          <a href="https://www.facebook.com/pg/LvivFitnessWeekend/photos/?tab=album&album_id=1968936636738289" target="_blank">ЧАСТИНА 1</a>
          <br><br>
          <a href="https://www.facebook.com/pg/LvivFitnessWeekend/photos/?tab=album&album_id=1973206749644611" target="_blank">ЧАСТИНА 2</a>
          <br><br>
          <a href="https://www.facebook.com/pg/LvivFitnessWeekend/photos/?tab=album&album_id=1969740399991246" target="_blank">ФОТО ЗОНА</a>
          <br><br>
          <a href="https://www.facebook.com/pg/LvivFitnessWeekend/photos/?tab=album&album_id=1968993200065966" target="_blank">ФОРУМ</a>
          <br><br>
          <a href="https://www.facebook.com/pg/LvivFitnessWeekend/photos/?tab=album&album_id=1968969223401697" target="_blank">СЕМІНАРИ</a>
        </div>
    </div>
  </div>
</section>