<section id="forum-business2018">
  <p>&nbsp;</p>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-ms-12 col-xs-12">
        <div class="section-heading scrollpoint sp-effect3">
          <h1 class="text-center">БІЗНЕС - ТРЕНІНГ</h1>
          <h2>з продажів послуг для адміністраторів та менеджерів з обслуговування клієнтів фітнес - клубів, спа центрів та салонів краси “Успішний клієнт - менеджер від А до Я. Філософія продаж”</h2>
          <div class="divider"></div>
          <p>22.09.2018 з 10:00 до 18:00 «Мала зала» №2</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <p>Якщо ви власник або керівник закладу, то це чудова можливість підняти рівень ваших співробітників, або для вас особисто зрозуміти, як саме має проходити процес обслуговування ваших клієнтів.</p>
      <p>Якщо ви адміністратор, або клієнт - менеджер, то вас очікує багато інформації з якісною теорією та багаторічною практикою у сфері продажів та сервісного супроводу клієнтів.</p>
      <br><br>
      <p>У програмі:</p>
      <ul>
        <li>Філософія успішних клієнт- менеджерів.</li>
        <li>Що таке «Процес продажу»?</li>
        <li>Холодні дзвінки. Підготовка до зустрічі.</li>
        <li>Розуміння психотипів клієнтів - найкраща “зброя” клієнт-менеджера.</li>
        <li>Етапи продажів. Робота з запереченнями і виявлення потреб – як основний механізм укладення угоди.</li>
        <li>Супровід клієнта після оформлення продажів. Гарний сервіс = лояльний клієнт = Повторна покупка.</li>
      </ul>
      <br>
      <p>
        Ведуча тренінга - Анна Ерохіна<br>
        Бізнес-тренер, фахівець з продажів і клієнтського сервісу. Досвід роботи у стартап командах мережі
        клубів SportLife 2008-2009 (Київ, Кривий Ріг), Клуб активного відпочинку Подольський, Фітнес центра Блокбастер,
        фітнес клуб Олімп (Віноградов), мережа кросфіт боксів CrossfitBanda, фітнес клуб 7Днів (Кам'янець-Подільський),
        запуск адміністративного відділу та відділу по роботі з клієнтами з 0; керівник відділу продажів та сервісу фітнес-центру Блокбастер (Київ);
        активна діяльність у сфері консалтингу з продажів з 2012 року.<br><br>
        Вартість участі у Бізнес - тренінгу до 20.08.2018: один день - 850грн<br>
        Вартість участі у Бізнес - тренінгу до 20.09.2018: один день - 1050грн<br>
        Вартість участі у Бізнес - тренінгу при оплаті на місці: один день - 1350грн
      </p>
      <br><br>
      <p class="text-center"><button class="pricing__action" ng-click="openWidget(50033,1160849)">Придбати квиток</button></p>
    </div>
  </div>
  <hr>
</section>
