<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="fa fa-bars fa-lg"></span>
      </button>
      <a class="navbar-brand" href="#top">

          <div class="brand-logo-image"> </div>
          <h1 class="logo-title">Lviv Fitness<br>Weekend</h1>
          <div class="clearfix"></div>
          <div class="top-conv-date">19-20.10.2019</div>

        <!--<img class="brand-logo-image" src="../../../assets/images/logos/logo-white-lg.png" alt="Lviv Fitness Weekend">-->
        <!--<img class="brand-logo-image" src="../../../assets/images/logos/logo-green-sm.png" alt="Lviv Fitness Weekend">-->
      </a>

      <!--ul class="nav navbar-nav navbar-left langs-list"><li><a href="http://en.lviv-fitness.com/">en</a></li><li><a href="http://lviv-fitness.com/">ua</a></li></ul-->
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <!--li class="hidden-sm">
          <a href="#top">Головна</a>
        </li-->
        <li>
          <a href="#organizers">Організатори</a>
        </li>
        <li>
          <a href="#convention">Презентери</a>
        </li>
        <li>
          <a href="#mindbody">Mind&Body</a>
        </li>
        <li>
          <a href="#hiitworks">Hiitworks</a>
        </li>
        <li>
          <a href="#zumba">Zumba</a>
        </li>
        <li>
          <a href="#seminars">Семінари</a>
        </li>
        <!--li>
          <a href="https://www.facebook.com/pg/LvivFitnessWeekend/photos/?ref=page_internal" target="_blank">ФОТО ЗВІТ</a>
        </li-->
        <li>
          <a href="https://www.facebook.com/pg/LvivFitnessWeekend/photos/?tab=albums" target="_blank">ФОТО</a>
        </li>
        <li>
          <a href="#demo">ВІДЕО</a>
        </li>
        <!--li>
          <a href="#screens">Розклад</a>
        </li>
        <li>
          <a href="#tickets">Ціни</a>
        </li-->
        <li>
          <a href="#partners">Партнери</a>
        </li>
        <!--li>
          <a href="#exhibition">Виставка</a>
        </li>
        <li>
          <a href="#detox">Detox training</a>
        </li>
        <li>
          <a href="#forum">Форум</a>
        </li-->
        <!--li>
          <a href="#aqua-presenter">Аква</a>
        </li>
        <li>
          <a href="#fashion">Вечірка</a>
        </li>
        <li>
          <a href="#partners">Партнери</a>
        </li>
        <li>
          <a href="#expoloc">Локація</a>
        </li-->
        <li>
          <a href="#location">Контакти</a>
        </li>
      </ul>

      <!--div class="top-conv-date">6-8 жовтня 2017<div>Реєстрація відкрита з 1 травня 2017</div></div-->
    </div>
  </div>
</nav>