<section id="forum-business">
  <p>&nbsp;</p>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-ms-12 col-xs-12">
        <div class="section-heading scrollpoint sp-effect3">
          <h1 class="text-center">III-й бізнес – форум Української Фітнес Асоціації у Львові</h1>
          <div class="divider"></div>
          <img src="../../../assets/images/partners/fitness_association.jpg" alt="Українська Фітнес Асоціація" />
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <p class="text-center">Особливістю бізнес – форуму 2017 у Львові стануть нові тренди фітнес – бізнесу України і кожному тренду буде присвячено окремий день.</p>
      <p>
        <ul>
          <li>Субота 7 жовтня 2017 «Тренер бренд, тренер підприємець. Переваги та особливості мікро - бізнесу»</li>
          <li>Неділя 8 жовтня 2017 «Адаптація фітнес - бізнесу до змін в економіці та в культурі споживання»</li>
        </ul>
      </p>
      <p class="text-center"><b>Виставковий центр «ПІВДЕННИЙ-EXPO»<br/> початок о 9:00</b></p>

      <p class="text-center">Теми та спікери бізнес-форуму:</p>
      <ul>
        <li><b>«Як забезпечити бездоганний сервіс та бути «Вовком» у продажах» Роман Самсій</b>, фітнес-експерт, засновник та головний методист школи фітнес – інструкторів MASTERS, досвід викладання в фітнесі більше 6 років, автор програми «Мистецтво персональних продажів у фітнесі» за участі акторів «Чорний квадрат». Член оргкомітету  українського об’єднаного тренерського реєстру УТРО.</li>
        <li><b>«1 хвилина до продажу. Стратегічний Digital маркетинг» Христина Чваніна</b>, засновник маркетингового агентства "IN-top Marketing", Digital- маркетолог компанії Museum Int., спеціаліст з таргетингової реклами.</li>
        <li><b>«Як здійснити прорив у власному бізнесі: нова філософія економічного мислення» Андрій Єлісєєв</b>, керуючий партнер аудиторських та консалтингових фірм («Контракти-Аудит», «Дебет-Кредит Консалтинг», «Тренінг Центр»). Практикуючий бізнес-тренер з 1995 року, Кандидат економічних наук, САР, DipFA Сертифікований аудитор з 1995 року. Стажування у США (2006 р.) за грантовою програмою USAID Диплом ISMM (The Institute of Sales &amp; Marketing Management).</li>
        <li><b>«Як стати брендом так, щоб ім’я працювало на вас» Юлія Коваль</b>, автор нового запатентованого напрямку: «3F: Fight Functional Fitness/Бойовий Функціональний Фітнес",  майстер спорту з спортивної фітнес аеробіки (FUSAF), сертифікований інструктор групових програм, персональний тренер (SFC). Сертифікований інструктор з відновлення спини за методою В.Евмінова, голова громадського об’єднання «Ліга фітнес-клубів», методист фітнес-школи «Малібу», лауреат міжнародної конференції «Наука для фітнесу-2016», фітнес-директор української мережі фітнес – клубів «Малібу». Досвід у фітнес індустрії 17 років, досвід в управлінні – 7 років. Член оргкомітету  українського об’єднаного тренерського реєстру УТРО.</li>
        <li><b>«Важливі моменти у роботі з партнерами, власниками та інвесторами у бізнесі» Надія Хохлова</b>, заступник директора фітнес-клубу «Тетра» з 2010 року, власник персонального тренінгу  «TIME FOR» , організатор та власник школи фітнес-тренерів TETRA FITNESS SCHOOL. Член оргкомітету  українського об’єднаного тренерського реєстру УТРО.</li>
        <li><b>«Як відкрити фітнес - центр» Андрій Недоступ</b>,  президент української фітнес асоціації УФА, співвласник керуючої компанії ФітКультура та центру раннього плавання Аква Ніка.</li>
        <li><b>«5 помилок клієнта та тренера» Вадим Гуменюк</b>,  віце-президент української фітнес асоціації УФА,  координатор українського об’єднаного тренерського реєстру УТРО, директор Міжнародної тенісної академії, співвласник керуючої компанії ФітКультура.</li>
        <li><b>«Автоматизація відділу продажу» Ірина Третяк</b>, Власник незалежного порталу спеціалістів фітнес-індустрії "FitnessUA", співвласник агентства інтернет-маркетингу "IN-top Marketing".</li>
        <li><b>«Вийти за межі. Як створити рентабельність інструктора групових занять» Світлана Бірючинскька</b>, Бізнес тренер. Засновник освітнього центру «Smart Fitness Academy», Викладач Київського Національного Університету ім. Б.Гринченко, Магістр ХНАФК, Член Української Фітнес Асоціації (УФА). Акредитований викладач Reebok University, сертифікований фахівець Американського коледжу спортивної медицини (ISAT), спікер міжнародих фітнес конвенцій та конференцій, автор ексклюзивних методик підготовки фахіфців з управління у фітнес клубах, продажів і комунікацій з клієнтами. Член організаційного комітету "Утро". Професійний стаж більше 25-и років.</li>
        <li><b>«Мотивація тренерського складу. Індивідуальна робота тренера із клієнтом» Сергій Конюшок</b>, Президент федерації стронгмену України, чемпіон світу зі стронгмену, керівник мережі фітнес – центрів «Олімп» (Львів).</li>
      </ul>

      <br/>

      <table align="center">
        <tr>
          <th>Вартість участі</th>
          <th>До 15.08.2017</th>
          <th>З 16.08.2017 по 30.09.2017</th>
          <th>Після 1.10.2017</th>
        </tr>
        <tr>
          <td>1 день</td>
          <td>300 грн</td>
          <td>500 грн</td>
          <td>800 грн</td>
        </tr>
        <tr>
          <td>2 дні</td>
          <td>500 грн</td>
          <td>800 грн</td>
          <td>1100 грн</td>
        </tr>
      </table>
      <br/>
    </div>
  </div>
</section>
