<section class="main-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 scrollpoint sp-effect1">
        <h2 class="main-title">Lviv Fitness Weekend</h2>
        <p class="hash-tag">#lvivfitnessweekend</p>
        <!--<h2>30 Вересня - 1,2 Жовтня</h2>-->

        <!--p class="main-text">Львів – культурна столиця України, а ФІЗИЧНА КУЛЬТУРА - це, насамперед, „культура”.</p>
        <p class="main-text"> Ми вважаємо, що у Львові фізична культура також повинна бути представлена на високому організаційному рівні.</p>
        <p class="main-text">МИ маємо багаторічний досвід проведення різних спортивних заходів у сфері фітнес індустрії.</p>
        <p class="main-text"> Ми знаємо як навчати людей, аби вони були справжніми фахівцями в галузі активного і здорового способу життя.</p>
        <p class="main-text">Наша команда – це колектив справжніх професіоналів у сфері спорту та велнесу. Ми - організатори LVIV FITNESS WEEKEND - знаємо, що потрібно тренеру!</p-->


        <div class="hidden-sm hidden-xs"><br><br></div>
        <div class="row section-links text-center">
          <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4">
            <a href="#convention" class="main-btn btn btn-primary">Конвенція</a>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4">
            <a href="#workshops" class="main-btn btn btn-primary">Семінари</a>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4">
            <a href="#forum-presenter" class="main-btn btn btn-primary">Форум</a>
          </div>
        </div>
        <div class="row">
          <div class="social">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding">
                  <a class="main-social-link" href="https://www.youtube.com/channel/UCC_pPGQBC69uzt1tOrYhQkw"
                     target="_blank"><i class="fa fa-youtube-square fa-lg"></i></a>
                </div>

                <!--div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding">
                  <a class="main-social-link" href="https://vk.com/public99211814" target="_blank"><i
                      class="fa fa-vk fa-lg"></i></a>
                </div-->

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding">
                  <a class="main-social-link" href="https://www.instagram.com/lvivfitnessweekend/" target="_blank"><i class="fa fa-instagram fa-lg"></i></a>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding">
                  <a class="main-social-link" href="https://www.facebook.com/LvivFitnessWeekend/" target="_blank"><i
                      class="fa fa-facebook fa-lg"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-5 hidden-sm hidden-xs scrollpoint sp-effect2">
        <img class="main-image" src="../../../assets/images/main/jump.png" alt="fitness lviv weekend">
      </div>
    </div>
  </div>
</section>