<section class="forum-schedule">
  <div class="container">
    <div class="section-heading scrollpoint sp-effect3">
      <h1>Програма Форуму Управлінців</h1>
      <div class="divider"></div>
    </div>
  </div>

  <div class="schedule-table">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 scene" ng-repeat="scene in forumschedule">
          <h4 class="text-center fitness-font-xl">{{ ::scene.title }}</h4>
          <div class="schedule-row" ng-repeat="item in scene.lectures">
            <span class="time">{{ ::item.time }}</span>
            <span class="class">{{ ::item.instructor }}</span>
            <span class="people text-right"><span ng-repeat="name in item.name">{{ ::name}} <br></span></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>